[defaults]
inventory = inventory.ini
roles_path = roles/
host_key_checking = True
retry_files_enabled = True
log_path = ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
