https://cloud5.ovh {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
    respond "Caddy works."
}

https://hello.cloud5.ovh {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
    reverse_proxy hello:80
}

:8080 {
    respond "Caddy debug: OK"
}
