http://cloud5.ovh {
    respond "cloudlab — {host} — {time.now}"
}

http://hello.cloud5.ovh {
    reverse_proxy hello:80
}

http://portainer.cloud5.ovh {
    reverse_proxy portainer:9000 {
        header_up X-Forwarded-Proto https
    }
}

http://*-oc.{{ opencode_public_domain }} {
    reverse_proxy caddy-opencode:80 {
        header_up Host {host}
        header_up X-Forwarded-Proto https
        transport http {
            dial_timeout 5s
            response_header_timeout 30s
        }
    }
}

:8080 {
    respond "Caddy debug: OK"
}
