services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - homelab_net

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - "{{ docker_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro"
    networks:
      - homelab_net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    env_file:
      - "{{ docker_dir }}/.env"
    command: tunnel --no-autoupdate run
    networks:
      - homelab_net

  hello:
    image: nginxdemos/hello:latest
    container_name: hello
    restart: always
    networks:
      - homelab_net

volumes:
  portainer_data:

networks:
  homelab_net:
    name: homelab_net
